openapi: "3.0.3"
info:
  title: "Tesla Fleet API (Official)"
  version: "2026.08.16"
  description: "Tesla's **official, currently-supported** Fleet API (developer.tesla.com) — the successor to the unofficial owner-api.teslamotors.com flow, which Tesla began actively rejecting ('redirect_uri not registered') around April-May 2026. Generated by reading the source of the actively-maintained open-source client library github.com/Teslemetry/python-tesla-fleet-api rather than scraping prose docs — this reflects exact working request/response shapes as of 2026-08-16, not guesswork.\n\n**Before this is usable at all**, you need a developer.tesla.com account, a registered application (client_id/client_secret), your own publicly-hosted redirect_uri, and a public key file hosted on a domain you control — see README.md in this folder for the full checklist.\n\nGenerated notes from source:\n- This is Tesla's OFFICIAL, currently-supported Fleet API (developer.tesla.com) — the successor to the unofficial/reverse-engineered owner-api.teslamotors.com flow, which Tesla began actively locking down (real 'redirect_uri not registered' rejections) around April-May 2026.\n- Unlike the legacy flow, this one is a standard CONFIDENTIAL OAuth2 client: NO PKCE (no code_challenge/code_verifier) — instead your app has a real client_secret, and you must register your OWN redirect_uri at developer.tesla.com (the shared https://auth.tesla.com/void/callback trick does not work here).\n- Getting a working app requires, at developer.tesla.com: (1) a developer account, (2) registering an application to get client_id/client_secret, (3) hosting a public key file at https://<your-domain>/.well-known/appspecific/com.tesla.3p.public-key.pem on a domain you control, (4) calling the Partner API's 'register' endpoint once for that domain, then (5) users individually authorize your app via the login URL.\n- Three regional API servers: na=https://fleet-api.prd.na.vn.cloud.tesla.com, eu=https://fleet-api.prd.eu.vn.cloud.tesla.com, cn=https://fleet-api.prd.cn.vn.cloud.tesla.cn. The login page host also differs for China: auth.tesla.cn instead of auth.tesla.com. Token issuance/refresh (fleet-auth.prd.vn.cloud.tesla.com) is a SINGLE global host regardless of region.\n- After first getting a token, call GET /api/1/users/region (no path params) to discover which regional fleet_api_base_url your account should use for all subsequent calls — don't hardcode a region.\n- Two distinct token flows share the same POST /oauth2/v3/token endpoint: 'authorization_code'/'refresh_token' (grant_type) are USER-level tokens (act as a specific Tesla account, needed for vehicle/energy commands); 'client_credentials' (a.k.a. partner_login) is an APP-level token with no specific user, used only for the Partner API (domain registration).\n- Source: cross-referenced against the actively-maintained open-source client library github.com/Teslemetry/python-tesla-fleet-api (tesla_fleet_api/tesla/oauth.py, fleet.py, partner.py) rather than scraped prose — this is precise working code, not documentation guesswork. That library's refresh_access_token() does NOT send client_secret in the refresh_token grant body (flagged unverified_path below since that's unusual for a confidential client and may be a library simplification rather than what Tesla's server actually requires).\n- All 50 endpoints in this range are POST vehicle command endpoints under /api/1/vehicles/{vin}/command/... and require Bearer auth (auth: true).\n- They share the standard Tesla Fleet API command response envelope: {\"response\": {\"result\": bool, \"reason\": string}}.\n- Path parameter is always named `vin` (Vehicle Identification Number string), never `vehicle_id`.\n- Methods with no `json=` argument in `_request(...)` send no request body (requestBodyExample: null).\n- Enum wire values for Trunk, Seat, Level, AutoSeat, ClimateKeeperMode, and CabinOverheatProtectionTemp were inferred from well-known Tesla Fleet API conventions since tesla_fleet_api/const.py was not included in the provided source range; these are flagged as inferred/unverified in the relevant requestBodyDescription fields.\n- remote_seat_heater_request maps its `seat_position`/`seat_heater_level` parameters to wire keys `heater`/`level`; remote_auto_seat_climate_request keeps `auto_seat_position`/`auto_climate_on` as-is — note the key-name divergence.\n- The `vin` path parameter is always the vehicle's Vehicle Identification Number string (never a numeric vehicle_id).\n- `options` and `warranty_details` call undocumented internal `api/1/dx/...` routes rather than the standard `api/1/vehicles/{vin}/...` shape, and pass `vin` as a query parameter instead of a path parameter — these are marked `unverified_path: true` since they are not part of the standard public Fleet API endpoint list.\n- `vehicle_data`'s `endpoints` query parameter is a list of `VehicleDataEndpoint` values joined with `;` (e.g. `charge_state;climate_state;location_data;vehicle_state;vehicle_config`). `location_data` supersedes the legacy `drive_state` lat/long fields and is required on firmware 2023.38+ to populate vehicle location (it triggers a location-sharing icon in the vehicle UI).\n- `signed_command`'s `routable_message` field is an opaque, signed protobuf `RoutableMessage` payload produced by Tesla's vehicle-command SDK signing tooling — it is not something to construct by hand and its internal structure is not modeled here.\n- Standard command endpoints (POST .../command/...) return the envelope `{\"response\": {\"result\": bool, \"reason\": string}}`.\n- Many EnergySite convenience methods (get_system_info, raw_networking_status/get_networking_status, wifi_scan, get_device_cert, get_cellular_info, check_for_update, check_for_update_urgency, check_internet, set_local_site_config, list_authorized_clients, add_authorized_client, remove_authorized_client, get_signed_commands_public_key, get_backup_events, schedule_backup_event, cancel_backup_event, get_teg_config, set_island_mode, go_off_grid, reconnect_grid) do NOT have their own REST path. They are all client-side wrappers that build a `{category: {command: params}}` gRPC message and POST it through the single multiplexed endpoint `POST /api/1/energy_sites/{energy_site_id}/command` with a fixed envelope of `command_type=\"grpc_command\"` plus `command_properties.message` and `command_properties.identifier_type`. These are undocumented energy-device gRPC commands (reverse-engineered, not part of Tesla's published Fleet API docs) that require the `energy_cmds` OAuth scope. All other EnergySite methods (backup, backup_history, charge_history, energy_history, grid_import_export, live_status, off_grid_vehicle_charging_reserve, operation, site_info, storm_mode, time_of_use_settings) call distinct, documented REST paths directly.\n- The path parameter for every energy-site endpoint is `energy_site_id` (an integer Tesla energy site/product ID obtainable from `GET /api/1/products`), not `site_id`.\n- `set_island_mode` (and its `go_off_grid`/`reconnect_grid` convenience wrappers) always raise `SignedCommandRequired` client-side before ever constructing a gRPC message body - the cloud-only unsigned `grpc_command` path is known to be accepted by some gateway firmware without actually operating the grid contactor, so the client refuses to send it. There is no verified category/command pair for island-mode control over this endpoint; real actuation requires a signed local LAN command via a separately paired authorized client (see `add_authorized_client`)."
  license:
    name: "Source library: MIT (Teslemetry/python-tesla-fleet-api)"
    url: "https://github.com/Teslemetry/python-tesla-fleet-api"
externalDocs:
  description: "Official Tesla Fleet API docs"
  url: "https://developer.tesla.com/docs/fleet-api"
servers:
  - url: "https://fleet-api.prd.na.vn.cloud.tesla.com"
    description: "North America"
  - url: "https://fleet-api.prd.eu.vn.cloud.tesla.com"
    description: "Europe"
  - url: "https://fleet-api.prd.cn.vn.cloud.tesla.cn"
    description: "China"
tags:
  - name: "API Basics"
    description: "Account-level, cross-product endpoints (product list, partner/domain registration)."
  - name: "Authentication"
    description: "OAuth2 login (auth.tesla.com), token exchange (fleet-auth.prd.vn.cloud.tesla.com), and Partner/app-level setup. See README.md before using any of this."
  - name: "Charging"
    description: "Charging history/session billing data."
  - name: "Energy Products"
    description: "Powerwall/solar energy site history, live status, configuration, and a generic gRPC device-command relay."
  - name: "Fleet Telemetry"
    description: "Server-side streaming telemetry config push (not the data stream itself — see fleet-telemetry server docs)."
  - name: "Sharing"
    description: "Driver invites and account sharing for a vehicle."
  - name: "Users"
    description: "The authenticated Tesla account holder's profile, keys, orders, and region discovery."
  - name: "Vehicle Commands"
    description: "POST actions that change vehicle state (locks, climate, charging, etc). The vehicle must be online — see wakeUp."
  - name: "Vehicle State"
    description: "Read-only vehicle info and telemetry (GET vehicle_data with selectable data groups)."
security:
  - BearerAuth: []
components:
  securitySchemes:
    BearerAuth:
      type: "http"
      scheme: "bearer"
      bearerFormat: "JWT"
      description: "OAuth2 access_token from the Authentication flow — either a user-level token (authorization_code/refresh_token) or an app-level partner token (client_credentials), depending on the endpoint."
paths:
  "/api/1/dx/charging/history":
    get:
      operationId: "getChargingHistory"
      summary: "Get paginated charging history"
      description: "Returns the paginated charging history for the account (or a specific vehicle)."
      tags:
        - "Charging"
      parameters:
        - name: "vin"
          in: "query"
          required: false
          description: "Filter to a specific vehicle."
          schema:
            type: "string"
        - name: "startTime"
          in: "query"
          required: false
          description: "ISO 8601 start of the date range."
          schema:
            type: "string"
        - name: "endTime"
          in: "query"
          required: false
          description: "ISO 8601 end of the date range."
          schema:
            type: "string"
        - name: "pageNo"
          in: "query"
          required: false
          description: "Page number."
          schema:
            type: "integer"
        - name: "pageSize"
          in: "query"
          required: false
          description: "Results per page."
          schema:
            type: "integer"
        - name: "sortBy"
          in: "query"
          required: false
          description: "Field to sort by."
          schema:
            type: "string"
        - name: "sortOrder"
          in: "query"
          required: false
          description: "'asc' or 'desc'."
          schema:
            type: "string"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  data: []
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/dx/charging/sessions":
    get:
      operationId: "getChargingSessions"
      summary: "Get charging session pricing/energy data (business accounts only)"
      description: "Returns charging session information including pricing and energy data. This endpoint is only available for business accounts that own a fleet of vehicles."
      tags:
        - "Charging"
      parameters:
        - name: "vin"
          in: "query"
          required: false
          description: "Filter to a specific vehicle."
          schema:
            type: "string"
        - name: "date_from"
          in: "query"
          required: false
          description: "Start of the date range."
          schema:
            type: "string"
        - name: "date_to"
          in: "query"
          required: false
          description: "End of the date range."
          schema:
            type: "string"
        - name: "limit"
          in: "query"
          required: false
          description: "Max results."
          schema:
            type: "integer"
        - name: "offset"
          in: "query"
          required: false
          description: "Pagination offset."
          schema:
            type: "integer"
      responses:
        "200":
          description: "Only available for business accounts."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  data: []
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/dx/vehicles/options":
    get:
      operationId: "vehicleOptions"
      summary: "Get vehicle option details"
      description: "Returns vehicle option details."
      tags:
        - "Vehicle State"
      parameters:
        - name: "vin"
          in: "query"
          required: false
          description: "Vehicle Identification Number to look up."
          schema:
            type: "string"
      responses:
        "200":
          description: "This is an internal `api/1/dx/...` route not listed among the standard public Fleet API endpoints; path/behavior unverified against official docs."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  vin: "5YJ3E1EA000000001"
                  options:
                    paint: "Deep Blue Metallic"
                    wheels: "19in Sport Wheels"
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
      x-unverified-path: true
  "/api/1/dx/warranty/details":
    get:
      operationId: "warrantyDetails"
      summary: "Get warranty details"
      description: "Returns warranty details."
      tags:
        - "Vehicle State"
      parameters:
        - name: "vin"
          in: "query"
          required: false
          description: "Vehicle Identification Number to look up."
          schema:
            type: "string"
      responses:
        "200":
          description: "This is an internal `api/1/dx/...` route not listed among the standard public Fleet API endpoints; path/behavior unverified against official docs."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  vin: "5YJ3E1EA000000001"
                  warrantyDetails:
                    batteryAndDriveUnit:
                      expirationDate: "2032-01-01"
                      expirationOdometer: 120000
                    basicVehicle:
                      expirationDate: "2028-01-01"
                      expirationOdometer: 50000
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
      x-unverified-path: true
  "/api/1/energy_sites/{energy_site_id}/backup":
    post:
      operationId: "setEnergySiteBackupReserve"
      summary: "Adjust the site's backup reserve percentage."
      description: "Adjust the site's backup reserve."
      tags:
        - "Energy Products"
      parameters:
        - name: "energy_site_id"
          in: "path"
          required: true
          description: "Tesla energy site identifier."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "backup_reserve_percent: integer 0-100, the minimum state of charge to reserve for backup/off-grid use."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              backup_reserve_percent: 20
      responses:
        "200":
          description: "Echoes the newly-applied backup_reserve_percent."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  backup_reserve_percent: 20
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/energy_sites/{energy_site_id}/calendar_history":
    get:
      operationId: "getEnergySiteCalendarHistory"
      summary: "Get the site's backup-event or energy-measurement history (shared endpoint, selected by `kind`)"
      description: "One shared endpoint behind two convenience methods, distinguished only by the `kind` query parameter: kind=backup returns the backup (off-grid) event history of the site in duration of seconds; kind=energy returns the site's energy measurements aggregated to the requested period. See the named response examples for the shape of each variant."
      tags:
        - "Energy Products"
      parameters:
        - name: "energy_site_id"
          in: "path"
          required: true
          description: "Tesla energy site identifier."
          schema:
            type: "string"
        - name: "kind"
          in: "query"
          required: true
          description: "\"backup\" or \"energy\" — selects which history variant this call returns (see the named response examples)."
          schema:
            type: "string"
          example: "energy"
        - name: "period"
          in: "query"
          required: false
          description: "Aggregation period, e.g. \"day\", \"week\", \"month\", \"year\". Used by the energy variant; optional for backup."
          schema:
            type: "string"
        - name: "start_date"
          in: "query"
          required: false
          description: "ISO 8601 start date/time for the query range. Optional."
          schema:
            type: "string"
        - name: "end_date"
          in: "query"
          required: false
          description: "ISO 8601 end date/time for the query range. Optional."
          schema:
            type: "string"
        - name: "time_zone"
          in: "query"
          required: false
          description: "IANA time zone name used to bucket the history. Optional."
          schema:
            type: "string"
      responses:
        "200":
          description: "Response shape depends on the discriminator query parameter — see the named examples below."
          content:
            "application/json":
              schema:
                type: "object"
              examples:
                backup:
                  summary: "kind=backup"
                  description: "events array of backup/off-grid periods, each with a timestamp and duration in seconds."
                  value:
                    response:
                      events:
                        - timestamp: "2022-01-01T00:00:00Z"
                          duration: 3600
                energy:
                  summary: "kind=energy"
                  description: "time_series array of per-period energy production/consumption/import/export figures."
                  value:
                    response:
                      time_series:
                        - timestamp: "2022-01-01T00:00:00Z"
                          solar_energy_exported: 5000
                          grid_energy_imported: 1200
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/energy_sites/{energy_site_id}/command":
    post:
      operationId: "sendEnergyDeviceGrpcCommand"
      summary: "Send a gRPC command to an energy gateway device (Powerwall/TEG); single multiplexed endpoint backing ~20 convenience methods."
      description: "Sends an unsigned `grpc_command` to the energy site's gateway hardware. The request body always has the same envelope shape - `command_type: \"grpc_command\"` and `command_properties: { message: { <category>: { <command>: <params> } }, identifier_type }` - only the category/command/params vary per sub-command. These are undocumented (reverse-engineered) energy device commands and require the `energy_cmds` scope. Full catalog of convenience methods that route through this single endpoint (category, command, description):\n\n- get_system_info -> category=\"common\", command=\"get_system_info_request\": Get energy device system information including firmware version, device type, part number, serial number, and DIN.\n- raw_networking_status -> category=\"common\", command=\"get_networking_status_request\": Get raw energy device networking status including WiFi, Ethernet, and cellular connectivity.\n- get_networking_status -> client-side wrapper around raw_networking_status (same category=\"common\"/command=\"get_networking_status_request\" wire call); unwraps `response.message.Payload.Common.Message.GetNetworkingStatusResponse` from the raw result. No separate wire call.\n- wifi_scan -> category=\"common\", command=\"wifi_scan_request\": Scan for available WiFi networks from the energy gateway.\n- get_device_cert -> category=\"common\", command=\"device_cert_request\": Get the energy device certificate including subject, issuer, and validity.\n- get_cellular_info -> category=\"common\", command=\"get_cellular_info_request\": Get cellular modem information including the embedded SIM identifier (EID) and supported cellular profiles.\n- check_for_update -> category=\"common\", command=\"check_for_update_request\": Check if a firmware update is available for the energy gateway.\n- check_for_update_urgency -> category=\"common\", command=\"check_for_update_urgency_request\": Check the urgency level of any available firmware update.\n- check_internet -> category=\"common\", command=\"check_internet_request\": Test internet connectivity on the gateway across all network interfaces (WiFi, Ethernet, GSM).\n- set_local_site_config -> category=\"common\", command=\"set_local_site_config_request\": Update local site configuration on the gateway. Accepts raw protobuf request fields; writes gateway configuration and is an undocumented energy device gRPC command.\n- list_authorized_clients -> category=\"authorization\", command=\"list_authorized_clients_request\": List authorized clients (paired keys) on the gateway including their roles and state. Best-effort cloud check only; not authoritative for local key verification.\n- add_authorized_client -> category=\"authorization\", command=\"add_authorized_client_request\", params={key_type, public_key (base64), authorized_client_type, description}: Register an authorized client (public key) with the gateway for local signed LAN control (TEDapi v1r). Key stays PENDING_VERIFICATION until a physical presence proof (e.g. breaker toggle) within a ~9-minute window, or reaches the terminal PENDING_VERIFICATION_TIMEOUT state.\n- remove_authorized_client -> category=\"authorization\", command=\"remove_authorized_client_request\", params={public_key (base64)}: Remove an authorized client (public key) from the gateway. [UNVERIFIED against hardware over this cloud route - inferred from add_authorized_client]. Response body may be empty. No physical presence proof required to remove, including VERIFIED records.\n- get_signed_commands_public_key -> category=\"authorization\", command=\"get_signed_commands_public_key_request\": Get the energy gateway's public key for signed commands.\n- get_backup_events -> category=\"teg\", command=\"get_backup_events_request\": Get backup event history from the gateway. May time out on some firmware versions.\n- schedule_backup_event -> category=\"teg\", command=\"schedule_manual_backup_event_request\", params={scheduling_info: {start_time, duration_seconds, priority}} (all optional): Schedule a manual backup event on the gateway.\n- cancel_backup_event -> category=\"teg\", command=\"cancel_manual_backup_event_request\": Cancel a scheduled manual backup event on the gateway.\n- get_teg_config -> category=\"teg\", command=\"get_config_request\": Get Tesla Energy Gateway configuration from the TEG service.\n- set_island_mode -> would target island-mode control, but the client always raises SignedCommandRequired before sending; no category/command is ever transmitted through this cloud path (unsigned grpc_command has been observed accepted without physically operating the grid contactor). Real control requires a signed local LAN command.\n- go_off_grid -> convenience wrapper calling set_island_mode(OFF_GRID); always raises SignedCommandRequired the same way.\n- reconnect_grid -> convenience wrapper calling set_island_mode(ON_GRID); always raises SignedCommandRequired the same way."
      tags:
        - "Energy Products"
      parameters:
        - name: "energy_site_id"
          in: "path"
          required: true
          description: "Tesla energy site identifier."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "Envelope is fixed: `command_type` is always \"grpc_command\". `command_properties.message` is a single-key object `{category: {command: params}}` selecting the sub-command (see description for the full catalog); `params` is command-specific and may be an empty object. `command_properties.identifier_type` is an integer enum (EnergyDeviceIdentifierType, default GATEWAY_DIN) identifying which device on the site the command targets. Example shown is the get_system_info sub-command."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              command_type: "grpc_command"
              command_properties:
                message:
                  common:
                    get_system_info_request: {}
                identifier_type: 0
      responses:
        "200":
          description: "Response shape is sub-command-specific and nested under response.message per the gRPC payload structure (see get_networking_status's own unwrap path as an example: response.message.Payload.Common.Message.GetNetworkingStatusResponse). remove_authorized_client may return an empty body - callers should not assert on response fields for it."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  message:
                    Payload:
                      Common:
                        Message:
                          "...": "sub-command-specific gRPC response payload, shape varies per category/command"
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/energy_sites/{energy_site_id}/grid_import_export":
    post:
      operationId: "setEnergySiteGridImportExport"
      summary: "Allow/disallow charging from the grid and exporting energy to the grid."
      description: "Allow/disallow charging from the grid and exporting energy to the grid."
      tags:
        - "Energy Products"
      parameters:
        - name: "energy_site_id"
          in: "path"
          required: true
          description: "Tesla energy site identifier."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "disallow_charge_from_grid_with_solar_installed: boolean, prevents charging the battery from the grid when solar is installed. customer_preferred_export_rule: string enum (EnergyExportMode), e.g. \"pv_only\", \"battery_ok\", \"never\". Both fields optional."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              disallow_charge_from_grid_with_solar_installed: true
              customer_preferred_export_rule: "pv_only"
      responses:
        "200":
          description: "Echoes the applied grid import/export settings."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  disallow_charge_from_grid_with_solar_installed: true
                  customer_preferred_export_rule: "pv_only"
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/energy_sites/{energy_site_id}/live_status":
    get:
      operationId: "getEnergySiteLiveStatus"
      summary: "Get the live status of the site (power, state of energy, grid status, storm mode)."
      description: "Returns the live status of the site (power, state of energy, grid status, storm mode)."
      tags:
        - "Energy Products"
      parameters:
        - name: "energy_site_id"
          in: "path"
          required: true
          description: "Tesla energy site identifier."
          schema:
            type: "string"
      responses:
        "200":
          description: "Live power flow figures (watts) for solar, battery, load, grid; state-of-energy percentage; grid connection status; storm mode flag."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  solar_power: 1500
                  energy_left: 12000
                  total_pack_energy: 13500
                  percentage_charged: 88.9
                  grid_status: "Active"
                  storm_mode_active: false
                  battery_power: -200
                  load_power: 1300
                  grid_power: 0
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/energy_sites/{energy_site_id}/off_grid_vehicle_charging_reserve":
    post:
      operationId: "setEnergySiteOffGridVehicleChargingReserve"
      summary: "Adjust the site's off-grid vehicle charging backup reserve."
      description: "Adjust the site's off-grid vehicle charging backup reserve."
      tags:
        - "Energy Products"
      parameters:
        - name: "energy_site_id"
          in: "path"
          required: true
          description: "Tesla energy site identifier."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "off_grid_vehicle_charging_reserve_percent: integer 0-100, the battery reserve set aside for vehicle charging while off-grid."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              off_grid_vehicle_charging_reserve_percent: 10
      responses:
        "200":
          description: "Echoes the newly-applied reserve percentage."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  off_grid_vehicle_charging_reserve_percent: 10
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/energy_sites/{energy_site_id}/operation":
    post:
      operationId: "setEnergySiteOperationMode"
      summary: "Set the site's operation mode."
      description: "Set the site's mode."
      tags:
        - "Energy Products"
      parameters:
        - name: "energy_site_id"
          in: "path"
          required: true
          description: "Tesla energy site identifier."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "default_real_mode: string enum (EnergyOperationMode), e.g. \"self_consumption\", \"autonomous\", \"backup\"."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              default_real_mode: "self_consumption"
      responses:
        "200":
          description: "Echoes the newly-applied operation mode."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  default_real_mode: "self_consumption"
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/energy_sites/{energy_site_id}/site_info":
    get:
      operationId: "getEnergySiteInfo"
      summary: "Get information about the site (assets, settings, features)."
      description: "Returns information about the site. Things like assets (has solar, etc), settings (backup reserve, etc), and features (storm_mode_capable, etc)."
      tags:
        - "Energy Products"
      parameters:
        - name: "energy_site_id"
          in: "path"
          required: true
          description: "Tesla energy site identifier."
          schema:
            type: "string"
      responses:
        "200":
          description: "Includes installed assets/components, current settings (backup reserve, operation mode), feature capability flags (e.g. storm_mode_capable), installation time zone, and the full tou_settings.tariff_content_v2 tariff object used by unwrap_tariff_v2/get_tariff_periods helpers."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  id: "STE12345678-12345"
                  site_name: "My Home"
                  backup_reserve_percent: 20
                  default_real_mode: "self_consumption"
                  installation_date: "2022-01-01T00:00:00-08:00"
                  components:
                    solar: true
                    battery: true
                    grid: true
                    backup: true
                    storm_mode_capable: true
                  installation_time_zone: "America/Los_Angeles"
                  tou_settings:
                    tariff_content_v2: {}
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/energy_sites/{energy_site_id}/storm_mode":
    post:
      operationId: "setEnergySiteStormMode"
      summary: "Update storm watch participation for the site."
      description: "Update storm watch participation."
      tags:
        - "Energy Products"
      parameters:
        - name: "energy_site_id"
          in: "path"
          required: true
          description: "Tesla energy site identifier."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "enabled: boolean, whether the site should participate in storm watch (automatically raises backup reserve ahead of forecast severe weather)."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              enabled: true
      responses:
        "200":
          description: "Echoes the newly-applied storm mode participation flag."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  enabled: true
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/energy_sites/{energy_site_id}/telemetry_history":
    get:
      operationId: "getEnergySiteChargeHistory"
      summary: "Get the charging history of a wall connector at the site."
      description: "Returns the charging history of a wall connector."
      tags:
        - "Energy Products"
      parameters:
        - name: "energy_site_id"
          in: "path"
          required: true
          description: "Tesla energy site identifier."
          schema:
            type: "string"
        - name: "kind"
          in: "query"
          required: false
          description: "Fixed value \"charge\" selecting the charge-history variant of this shared endpoint."
          schema:
            type: "string"
        - name: "start_date"
          in: "query"
          required: false
          description: "ISO 8601 start date/time for the query range. Required."
          schema:
            type: "string"
        - name: "end_date"
          in: "query"
          required: false
          description: "ISO 8601 end date/time for the query range. Required."
          schema:
            type: "string"
        - name: "time_zone"
          in: "query"
          required: false
          description: "IANA time zone name used to bucket the history. Optional."
          schema:
            type: "string"
      responses:
        "200":
          description: "charges array of wall-connector charging session records within the requested date range."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  charges:
                    - timestamp: "2022-01-01T00:00:00Z"
                      energy_added_wh: 1200
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/energy_sites/{energy_site_id}/time_of_use_settings":
    post:
      operationId: "setEnergySiteTimeOfUseSettings"
      summary: "Update the time-of-use tariff settings for the energy site."
      description: "Update the time of use settings for the energy site."
      tags:
        - "Energy Products"
      parameters:
        - name: "energy_site_id"
          in: "path"
          required: true
          description: "Tesla energy site identifier."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "tou_settings.tariff_content_v2: the tariff object (seasons, energy_charges, currency, etc.) describing buy/sell electricity rates by time period. Passed through as-is from the caller's `settings` argument."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              tou_settings:
                tariff_content_v2: {}
      responses:
        "200":
          description: "Echoes the applied tariff_content_v2 object. This same shape can be resolved into current buy/sell rates and a period timeline via the client library's local (non-API) get_tariff_periods/unwrap_tariff_v2 helpers."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  tou_settings:
                    tariff_content_v2: {}
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/invitations/redeem":
    post:
      operationId: "shareInvitesRedeem"
      summary: "Redeem a share invite"
      description: "Redeems a share invite."
      tags:
        - "Sharing"
      requestBody:
        required: true
        description: "The invite code received from the vehicle owner."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              code: "AbCdEf"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/partner_accounts":
    post:
      operationId: "registerPartnerAccount"
      summary: "Register your app's domain (one-time setup, required before any Fleet API use)"
      description: "Registers an existing developer.tesla.com application for general API access. Every application must complete this step exactly once (per domain) before end users can authorize it or any vehicle/energy calls will work. Requires an app-level 'partner' Bearer token (see exchangeCodeForToken's client_credentials variant), and requires the domain to already be serving your public key at https://<domain>/.well-known/appspecific/com.tesla.3p.public-key.pem."
      tags:
        - "API Basics"
      requestBody:
        required: true
        description: "domain (string): the domain you control and are hosting your public key file on."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              domain: "your-domain.example.com"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  message: "success"
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/partner_accounts/fleet_telemetry_errors":
    get:
      operationId: "getPartnerFleetTelemetryErrors"
      summary: "Get recent Fleet Telemetry config errors reported by vehicles"
      description: "Returns recent fleet telemetry errors reported by vehicles after receiving your telemetry config (see fleet_telemetry_config_create on vehicles)."
      tags:
        - "API Basics"
      parameters:
        - name: "domain"
          in: "query"
          required: true
          description: "Your registered domain."
          schema:
            type: "string"
          example: "your-domain.example.com"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response: []
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/partner_accounts/public_key":
    get:
      operationId: "getPartnerPublicKey"
      summary: "Verify the public key Tesla has on file for your domain"
      description: "Returns the public key associated with a domain — use it to confirm registerPartnerAccount succeeded and Tesla fetched the right key."
      tags:
        - "API Basics"
      parameters:
        - name: "domain"
          in: "query"
          required: true
          description: "Your registered domain."
          schema:
            type: "string"
          example: "your-domain.example.com"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  public_key: "04a1b2c3..."
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/products":
    get:
      operationId: "listProducts"
      summary: "List vehicles and energy products on the account"
      description: "Returns products (vehicles and energy sites) mapped to the authenticated user."
      tags:
        - "API Basics"
      responses:
        "200":
          description: "Mixed array of vehicle and energy-site product objects, distinguished by resource_type/presence of vin vs energy_site_id."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  - id: 12345678901234567
                    vin: "5YJSA11111111111"
                    display_name: "Nikola 2.0"
                    resource_type: "vehicle"
                  - energy_site_id: 2252147638651575
                    resource_type: "battery"
                    site_name: "My Site"
                count: 2
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/users/backup_key":
    get:
      operationId: "getUserBackupKey"
      summary: "Get the public key associated with the user"
      description: "Returns the public key associated with the authenticated user."
      tags:
        - "Users"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  public_key: "04a1b2c3..."
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/users/feature_config":
    get:
      operationId: "getUserFeatureConfig"
      summary: "Get feature flags for the user"
      description: "Returns any custom feature flag applied to the authenticated user."
      tags:
        - "Users"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response: {}
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/users/me":
    get:
      operationId: "getCurrentUser"
      summary: "Get a summary of the user's account"
      description: "Returns a summary of the authenticated user's Tesla account."
      tags:
        - "Users"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  email: "elon@tesla.com"
                  full_name: "Elon Musk"
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/users/orders":
    get:
      operationId: "getUserOrders"
      summary: "Get the user's active vehicle orders"
      description: "Returns the active orders for the authenticated user."
      tags:
        - "Users"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response: []
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/users/region":
    get:
      operationId: "getUserRegion"
      summary: "Discover which regional Fleet API server to use for this account"
      description: "Returns the user's region and the appropriate fleet_api_base_url. Accepts no parameters — the answer is based on the authenticated token's subject. Call this right after obtaining a token, before any other vehicle/energy calls, and use the returned base URL for the rest of the session instead of guessing a region."
      tags:
        - "Users"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  region: "na"
                  fleet_api_base_url: "https://fleet-api.prd.na.vn.cloud.tesla.com"
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles":
    get:
      operationId: "listVehicles"
      summary: "List vehicles on the account"
      description: "Returns vehicles belonging to the account."
      tags:
        - "Vehicle State"
      parameters:
        - name: "page"
          in: "query"
          required: false
          description: "Page number of results to return."
          schema:
            type: "integer"
        - name: "per_page"
          in: "query"
          required: false
          description: "Number of vehicles to return per page."
          schema:
            type: "integer"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  - id: 123456789012345
                    vehicle_id: 999999999
                    vin: "5YJ3E1EA000000001"
                    display_name: "My Model 3"
                    state: "online"
                count: 1
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/fleet_status":
    post:
      operationId: "fleetStatus"
      summary: "Check fleet command-protocol status for vehicles"
      description: "Checks whether vehicles can accept Tesla commands protocol for the partner's public key."
      tags:
        - "Fleet Telemetry"
      requestBody:
        required: true
        description: "List of VINs to check."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              vins:
                - "5YJ3E1EA000000001"
                - "5YJ3E1EA000000002"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  key_paired_vins:
                    - "5YJ3E1EA000000001"
                  unpaired_vins:
                    - "5YJ3E1EA000000002"
                  vehicle_info:
                    "5YJ3E1EA000000001":
                      firmware_version: "2026.20.1"
                      vehicle_command_protocol_required: true
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/fleet_telemetry_config":
    post:
      operationId: "fleetTelemetryConfigCreate"
      summary: "Create fleet telemetry configuration"
      description: "Configures fleet telemetry (streaming vehicle data configuration) for one or more vehicles."
      tags:
        - "Fleet Telemetry"
      requestBody:
        required: true
        description: "The full fleet telemetry configuration payload, passed through as-is: target VINs, streaming server connection details, and the fields/intervals to stream."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              vins:
                - "5YJ3E1EA000000001"
              config:
                hostname: "telemetry.example.com"
                port: 443
                fields:
                  VehicleSpeed:
                    interval_seconds: 10
                  Soc:
                    interval_seconds: 60
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  updated_vehicles: 1
                  skipped_vehicles: {}
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}":
    get:
      operationId: "vehicle"
      summary: "Get vehicle information"
      description: "Returns information about a vehicle."
      tags:
        - "Vehicle State"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  id: 123456789012345
                  vehicle_id: 999999999
                  vin: "5YJ3E1EA000000001"
                  display_name: "My Model 3"
                  state: "online"
                  in_service: false
                  api_version: 71
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/actuate_trunk":
    post:
      operationId: "actuateTrunk"
      summary: "Open or close the front or rear trunk"
      description: "Controls the front or rear trunk."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "which_trunk: string, which trunk to actuate. Inferred values 'front' (frunk) or 'rear' based on Tesla's Trunk enum (unverified exact wire strings)."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              which_trunk: "rear"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/add_charge_schedule":
    post:
      operationId: "addChargeSchedule"
      summary: "Add or modify a charge schedule"
      description: "Add a schedule for vehicle charging."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "`start_time`/`end_time` are minutes after midnight local vehicle time; at least one of them must be provided. `id` and `name` may also be supplied to modify an existing schedule."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              days_of_week: "Monday,Tuesday"
              enabled: true
              end_enabled: true
              lat: 37.7749
              lon: -122.4194
              start_enabled: true
              start_time: 1320
              end_time: 1380
              one_time: false
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/add_precondition_schedule":
    post:
      operationId: "addPreconditionSchedule"
      summary: "Add or modify a preconditioning schedule"
      description: "Add or modify a preconditioning schedule."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "`precondition_time` is minutes after midnight local vehicle time. `id` and `name` may also be supplied to modify an existing schedule."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              days_of_week: "Monday,Tuesday"
              enabled: true
              lat: 37.7749
              lon: -122.4194
              precondition_time: 420
              one_time: false
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/adjust_volume":
    post:
      operationId: "adjustVolume"
      summary: "Adjust media playback volume"
      description: "Adjusts vehicle media playback volume from 0.0 to 11.0."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "volume: number (float), target media volume, valid range 0.0-11.0."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              volume: 5.5
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/auto_conditioning_start":
    post:
      operationId: "autoConditioningStart"
      summary: "Start climate preconditioning"
      description: "Starts climate preconditioning."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/auto_conditioning_stop":
    post:
      operationId: "autoConditioningStop"
      summary: "Stop climate preconditioning"
      description: "Stops climate preconditioning."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/batch_remove_charge_schedules":
    post:
      operationId: "batchRemoveChargeSchedules"
      summary: "Batch remove charge schedules"
      description: "Batch removes charge schedules by location type."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "Booleans selecting which location-type charge schedules (home/work/other) to remove."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              home: true
              work: false
              other: false
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/batch_remove_precondition_schedules":
    post:
      operationId: "batchRemovePreconditionSchedules"
      summary: "Batch remove preconditioning schedules"
      description: "Batch removes precondition schedules by location type."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "Booleans selecting which location-type preconditioning schedules (home/work/other) to remove."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              home: true
              work: false
              other: false
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/cancel_software_update":
    post:
      operationId: "cancelSoftwareUpdate"
      summary: "Cancel a pending software update"
      description: "Cancels the countdown to install the vehicle software update."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/charge_max_range":
    post:
      operationId: "chargeMaxRange"
      summary: "Set charge limit to max range mode"
      description: "Charges in max range mode -- Tesla recommends limiting the use of this mode to long trips."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/charge_port_door_close":
    post:
      operationId: "chargePortDoorClose"
      summary: "Close the charge port door"
      description: "Closes the charge port door."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/charge_port_door_open":
    post:
      operationId: "chargePortDoorOpen"
      summary: "Open the charge port door"
      description: "Opens the charge port door."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/charge_standard":
    post:
      operationId: "chargeStandard"
      summary: "Set charge limit to standard mode"
      description: "Charges in Standard mode."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/charge_start":
    post:
      operationId: "chargeStart"
      summary: "Start charging"
      description: "Starts charging the vehicle."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/charge_stop":
    post:
      operationId: "chargeStop"
      summary: "Stop charging"
      description: "Stops charging the vehicle."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/clear_pin_to_drive_admin":
    post:
      operationId: "clearPinToDriveAdmin"
      summary: "Deactivate PIN to Drive as fleet manager/owner"
      description: "Deactivates PIN to Drive and resets the associated PIN for vehicles running firmware versions 2023.44+. This command is only accessible to fleet managers or owners."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "pin: string or null, optional fleet-manager PIN; defaults to null when omitted."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              pin: null
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/door_lock":
    post:
      operationId: "doorLock"
      summary: "Lock the vehicle"
      description: "Locks the vehicle."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/door_unlock":
    post:
      operationId: "doorUnlock"
      summary: "Unlock the vehicle"
      description: "Unlocks the vehicle."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/erase_user_data":
    post:
      operationId: "eraseUserData"
      summary: "Erase user data from the UI"
      description: "Erases user's data from the user interface. Requires the vehicle to be in park."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/flash_lights":
    post:
      operationId: "flashLights"
      summary: "Flash the vehicle headlights"
      description: "Briefly flashes the vehicle headlights. Requires the vehicle to be in park."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/guest_mode":
    post:
      operationId: "guestMode"
      summary: "Enable or disable Guest Mode"
      description: "Restricts certain vehicle UI functionality from guest users."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "enable: boolean, true to enable Guest Mode, false to disable."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              enable: true
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/honk_horn":
    post:
      operationId: "honkHorn"
      summary: "Honk the vehicle horn"
      description: "Honks the vehicle horn. Requires the vehicle to be in park."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/media_next_fav":
    post:
      operationId: "mediaNextFav"
      summary: "Skip to next favorite track"
      description: "Advances media player to next favorite track."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/media_next_track":
    post:
      operationId: "mediaNextTrack"
      summary: "Skip to next track"
      description: "Advances media player to next track."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/media_prev_fav":
    post:
      operationId: "mediaPrevFav"
      summary: "Go to previous favorite track"
      description: "Advances media player to previous favorite track."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/media_prev_track":
    post:
      operationId: "mediaPrevTrack"
      summary: "Go to previous track"
      description: "Advances media player to previous track."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/media_toggle_playback":
    post:
      operationId: "mediaTogglePlayback"
      summary: "Toggle media play/pause"
      description: "Toggles current play/pause state."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/media_volume_down":
    post:
      operationId: "mediaVolumeDown"
      summary: "Turn media volume down one step"
      description: "Turns the volume down by one."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/navigation_gps_request":
    post:
      operationId: "navigationGpsRequest"
      summary: "Start navigation to GPS coordinates"
      description: "Starts navigation to coordinates. `order` is the Tesla remote-nav order integer: 1 replaces the trip, 2 prepends a stop, and 3 appends a stop; defaults to 0 (REMOTE_NAV_TRIP_ORDER_UNKNOWN) when omitted."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "lat: number (float), latitude. lon: number (float), longitude. order: integer, 0=unknown/default, 1=replace trip, 2=prepend stop, 3=append stop."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              lat: 37.7749
              lon: -122.4194
              order: 0
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/navigation_request":
    post:
      operationId: "navigationRequest"
      summary: "Send a location/share to in-vehicle navigation"
      description: "Sends a location to the in-vehicle navigation system."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "value: object wrapping the target address/text under the key 'android.intent.extra.TEXT'. type: string, defaults to 'share_ext_content_raw'. locale: string, IETF locale tag, defaults to system locale (e.g. 'en-US'). timestamp_ms: integer, Unix epoch milliseconds, defaults to current time."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              value:
                "android.intent.extra.TEXT": "1600 Pennsylvania Ave NW, Washington, DC"
              type: "share_ext_content_raw"
              locale: "en-US"
              timestamp_ms: 1755302400000
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/navigation_sc_request":
    post:
      operationId: "navigationScRequest"
      summary: "Navigate to a Supercharger"
      description: "Sends a navigation request to a Tesla supercharger (and if applicable begins preconditioning)."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "id: integer, Tesla supercharger site identifier. order: integer or null, optional stop ordering (same semantics as navigation_gps_request's order); optional."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              id: 12345
              order: 0
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/navigation_waypoints_request":
    post:
      operationId: "navigationWaypointsRequest"
      summary: "Send a list of waypoints to navigation"
      description: "Sends a list of waypoints to the vehicle's navigation system."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "waypoints: string, semicolon-separated list of 'lat,lon' coordinate pairs (exact delimiter format inferred, unverified)."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              waypoints: "37.7749,-122.4194;34.0522,-118.2437"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/remote_auto_seat_climate_request":
    post:
      operationId: "remoteAutoSeatClimateRequest"
      summary: "Set automatic seat heating/cooling"
      description: "Sets automatic seat heating and cooling. auto_seat_position is 1-indexed (AutoSeat.FRONT_LEFT == 1), matching Tesla's wire values for this endpoint. The vehicle can reject remote comfort commands when climate_state().remote_heater_control_enabled is false."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "auto_seat_position: integer (AutoSeat enum), 1-indexed seat position, e.g. 1=front left, 2=front right (inferred, unverified beyond FRONT_LEFT==1). auto_climate_on: boolean, true to enable automatic climate for that seat."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              auto_seat_position: 1
              auto_climate_on: true
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/remote_auto_steering_wheel_heat_climate_request":
    post:
      operationId: "remoteAutoSteeringWheelHeatClimateRequest"
      summary: "Set automatic steering wheel heat on/off"
      description: "Sets automatic steering wheel heating on/off. The vehicle can reject remote comfort commands when climate_state().remote_heater_control_enabled is false."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "on: boolean, true to enable automatic steering wheel heat, false to disable."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              "on": true
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/remote_boombox":
    post:
      operationId: "remoteBoombox"
      summary: "Play a sound through the external speaker"
      description: "Plays a sound through the vehicle external speaker."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "sound: integer, identifier of the sound to play through the boombox (e.g. 0 for the default 'fart' easter-egg sound); exact catalog of valid IDs is unverified."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              sound: 0
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/remote_seat_cooler_request":
    post:
      operationId: "remoteSeatCoolerRequest"
      summary: "Set seat cooling level"
      description: "Sets seat cooling."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "seat_position: integer (Seat enum), typically 0=front left, 1=front right (seat cooling is generally only available on front seats; inferred, unverified). seat_cooler_level: integer (Level enum), 0=Off, 1=Low, 2=Medium, 3=High (inferred, unverified)."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              seat_position: 1
              seat_cooler_level: 2
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/remote_seat_heater_request":
    post:
      operationId: "remoteSeatHeaterRequest"
      summary: "Set seat heating level"
      description: "Sets seat heating. The vehicle can reject remote comfort commands when climate_state().remote_heater_control_enabled is false."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "heater: integer (Seat enum, sent as wire key 'heater' though the Python param is named seat_position), typically 0=front left,1=front right,2=rear left,4=rear center,5=rear right (inferred, unverified). level: integer (Level enum, sent as wire key 'level'), 0=Off,1=Low,2=Medium,3=High (inferred, unverified)."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              heater: 1
              level: 2
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/remote_start_drive":
    post:
      operationId: "remoteStartDrive"
      summary: "Remote start the vehicle"
      description: "Starts the vehicle remotely. Requires keyless driving to be enabled."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/remote_steering_wheel_heat_level_request":
    post:
      operationId: "remoteSteeringWheelHeatLevelRequest"
      summary: "Set steering wheel heat level"
      description: "Sets steering wheel heat level. The vehicle can reject remote comfort commands when climate_state().remote_heater_control_enabled is false."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "level: integer (Level enum), 0=Off,1=Low,2=Medium,3=High (inferred, unverified — some vehicles may only support a subset such as 0/1/3)."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              level: 2
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/remote_steering_wheel_heater_request":
    post:
      operationId: "remoteSteeringWheelHeaterRequest"
      summary: "Set steering wheel heat on/off"
      description: "Sets steering wheel heating on/off. For vehicles that do not support auto steering wheel heat. The vehicle can reject remote comfort commands when climate_state().remote_heater_control_enabled is false."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "on: boolean, true to enable steering wheel heat, false to disable."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              "on": true
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/remove_charge_schedule":
    post:
      operationId: "removeChargeSchedule"
      summary: "Remove a charge schedule"
      description: "Removes the scheduled charging settings."
      tags:
        - "Vehicle Commands"
      parameters:
        - name: "vin"
          in: "path"
          required: true
          description: "Vehicle Identification Number."
          schema:
            type: "string"
      requestBody:
        required: true
        description: "ID of the charge schedule to remove."
        content:
          "application/json":
            schema:
              type: "object"
            example:
              id: 12345
      responses:
        "200":
          description: "Successful response."
          content:
            "application/json":
              schema:
                type: "object"
              example:
                response:
                  result: true
                  reason: ""
      security:
        - BearerAuth: []
      externalDocs:
        url: "https://developer.tesla.com/docs/fleet-api"
        description: "Source documentation"
  "/api/1/vehicles/{vin}/command/remove_precondition_schedule":
    post:
      operationId: "removePreconditionSchedule"
      summary: "Remove a preconditioning schedule"
[...]
